$info-color: #282F39;
$main-bg-color: #2B2344;
$primary-text-white: #fff;
$primary-text-black: #000;
$clr-primary-grey: grey;
$primary-text2: #F95353;
$card-color: #1D1730;
$clr-shadow: #924040;
$clr-popup-bg: rgba(255, 255, 255, 0.295);
$clr-card: rgba(245, 84, 34, 0.4);
$clr-primary-red: red;