
@mixin d-flex($al:center,$js:center,$gap:0px){
    display: flex;
    align-items: $al;
    justify-content: $js;
    gap: $gap;
}

@mixin grid($grid_col:repeat(3,1fr),$gap:0px){
    display: grid;
    grid-template-columns: $grid_col;
    gap: $gap;
}

@mixin hover{
    cursor: pointer;
}

@mixin f-direction($fd:coloum){
  flex-direction: $fd;
}

@mixin effect {
    &::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 0;
        top: 2.5rem;
        height: 0.3rem;
        left: 0px;
        background-color: #F95353;
        transition: .3s all;
    }
}

@mixin click{
    &:active{
            transform: translateX(.4rem) translateY(.4rem);
            box-shadow: 0 0 0 #b63131;
    }
}